.container-black {
    background-color: black;
    padding-top: 20px; 
    padding-bottom: 20px; 
    margin-bottom: 50px; 
}

.container-black .navbar,
.container-black #myCarousel,
.container-black header {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px; 
    padding-right: 20px; 
}


.navbar-default {
background-color: black;
}


#myCarousel img {
    width: 100%;
    height: auto;
}
.navbar-brand{
    font-size: 40px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    padding-top: 55%; 
    overflow: hidden;
}
.carousel-inner .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header {
    text-align: center;
    margin-bottom: 2rem; 
    background-color: black;
    color: white; 
    font-size: 20px;
}

.title{
    font-size: 70px;
}

body {
    font-family:monospace;
    font-size: 35px;
    margin:0%; 
}


.main-list li{
    list-style-position: inside; 
    list-style-type: none;
    margin-top: 2cm;
}

.main-list li h2{
    font-size: 60px;
    margin-bottom: 1cm;
}

.float-image{
    float: right;
    width: 600px;
    height:450px;
    /* margin-top: 2cm; */
}



.food-list p{
    margin-top: 1cm;
}