.container-black {
    background-color: black;
    padding-top: 20px; 
    padding-bottom: 20px; 
    margin-bottom: 50px; 
}

.container-black .navbar,
.container-black #myCarousel,
.container-black header {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px; 
    padding-right: 20px; 
}


.navbar-default {
background-color: black;
}


#myCarousel img {
    width: 100%;
    height: auto;
}
.navbar-brand{
    font-size: 40px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    padding-top: 55%; 
    overflow: hidden;
}
.carousel-inner .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


header {
    text-align: center;
    margin-bottom: 2rem; 
    background-color: black;
    color: white; 
}

body {
    font-family:monospace;
    font-size: 30px; 
}

nav ul {
    list-style: none;
}


main {
    display: flex;
    flex-direction: row;
    justify-content: center; 

}

main ul{
    list-style-type: none;
}
.place-info img {
    width: 100%;
    height: auto; 
    max-width: 100%; 
}

.place-info h3{
    font-size:50px;
    margin-bottom: 1cm;
}

.float-image{
    float: right;
    width: 400px;
    height:250px;
}

.col-lg-5{
    margin-top: 7cm;
}

.col-lg-7{
    margin-top: 4cm;
}

@media (max-width: 768px) { 
    body {
        font-size: 14px; 
    }
    .place-info img {
        max-width: 100%; 
        height: auto; 
    }
}
